<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>productservlet</servlet-name>
        <servlet-class>mypackages.productservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCustomerServlet</servlet-name>
        <servlet-class>mypackages.InsertCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCustomerdetails</servlet-name>
        <servlet-class>mypackages.ShowCustomerdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <servlet-class>mypackages.UpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerServlet</servlet-name>
        <servlet-class>mypackages.EditCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>mypackages.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCustomerServlet</servlet-name>
        <servlet-class>mypackages.NewCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrderdetails</servlet-name>
        <servlet-class>mypackages.ShowOrderdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>mypackages.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productservlet</servlet-name>
        <url-pattern>/productservlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCustomerServlet</servlet-name>
        <url-pattern>/InsertCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCustomerdetails</servlet-name>
        <url-pattern>/ShowCustomerdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <url-pattern>/UpdateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerServlet</servlet-name>
        <url-pattern>/EditCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/DeleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCustomerServlet</servlet-name>
        <url-pattern>/NewCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrderdetails</servlet-name>
        <url-pattern>/ShowOrderdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
