button, .logout-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

button:hover, .logout-button:hover {
    background-color: #d7321c;
    opacity: 0.8;
}

.logout-link {
    text-decoration: none;
    color: white;
    display: block;
}
